name: SWC Compat Test

on:
  push:
    branches:
      - "*"
  pull_request:
    types: ["opened", "reopened", "synchronize"]

env:
  CARGO_INCREMENTAL: 0
  RUST_LOG: "debug"
  DIFF: 0
  RUST_MIN_STACK: 4194304
  CARGO_TERM_COLOR: always

jobs:
  wasm-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - run: pnpm build

      - name: Upload Binary
        uses: actions/upload-artifact@v3
        with:
          if-no-files-found: error
          name: wasm
          path: |
            target/*/debug/*.wasm

  test:
    name: Test with ${{ matrix.swc_package }}
    runs-on: ubuntu-latest
    needs: wasm-build
    strategy:
      matrix:
        swc_package:
          - "@swc/core@1.3.57"
          - "@swc/core@1.3.58"
          - "@swc/core@1.3.63"
          - "@swc/core@1.3.68"
          - "@swc/core@1.3.81"
          - "@swc/core@latest"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"

      - uses: pnpm/action-setup@v2
        with:
          run_install: |
            - args: [--frozen-lockfile, --strict-peer-dependencies]

      - run: pnpm add -D --ignore-scripts ${{ matrix.swc_package }}

      - uses: actions/download-artifact@v3
        with:
          name: wasm
          path: target/

      - run: pnpm test
