name: Test

on:
  push:
    branches:
      - "*"
  pull_request:
    types: ["opened", "reopened", "synchronize"]

env:
  CARGO_INCREMENTAL: 0
  RUST_LOG: "debug"
  DIFF: 0
  RUST_MIN_STACK: 4194304
  CARGO_TERM_COLOR: always

jobs:
  cargo-fmt:
    name: Cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo fmt -- --check

  cargo-clippy:
    name: Cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo clippy

  cargo-test:
    name: Cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: cargo check --all-targets
      - run: cargo test

  swc-test:
    name: SWC test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"

      - uses: pnpm/action-setup@v2
        with:
          run_install: |
            - args: [--frozen-lockfile, --strict-peer-dependencies]

      - run: pnpm build
      - run: pnpm test
